//Require bourbon
 //@import "bourbon/bourbon";
 
// VARIABLES
$color-primary         : #03a9f4 !default;  
$color-secondary       : #009688 !default;   
$color-black           : #000000 !default;   
$color-white           : #ffffff !default;   

$font-size--base: 1em;

// MIXINS 
@mixin text-wrapper() { //apply text's parent
  text-overflow: ellipsis;
  white-space: nowrap; 
}

//PLACEHOLDERS

%border-radius--50percent { border-radius: 50%; }
%border-radius-2px { border-radius: em(2px); } 

%box-sizing--border-box { @include box-sizing(border-box); } 

%display--block { display: block; }
%display--flex { display: flex; }
%display--inline { display: inline; }
%display--inline-block { display: inline-block; } 
%display--none { display: none; }

//Clearfix
%clearfix {
	//*zoom: 1;  /* The star is here to prevent other browsers from reading and applying this rule. */
	&:after { content: ""; display: table; clear: both; }
}
%bg--transparent { background-color: transparent; }
%bg--primary { background-color: $color-primary; }
%bg--secondary { background-color: $color-secondary; }
%bg--white { background-color: $color-white; }
%bg--black { background-color: $color-black; } 

// color
%color--white      { color: $color-white  } 
%color--black      { color: $color-black  } 
%color--primary    { color: $color-primary  } 
%color--secondary  { color: $color-secondary  } 

// font
%font-size--base { font-size: 1em   }; //16px !default

%font-weight--100 { font-weight: 100 ; }
%font-weight--200 { font-weight: 200 ; }
%font-weight--300 { font-weight: 300 ; }
%font-weight--400 { font-weight: 400 ; }
%font-weight--500 { font-weight: 500 ; }
 
%float--left     { float: left ;}
%float--right    { float: right ;}
%float--none     { float: none ;}

%height--inherit { height: inherit; }
%height--100percent { height: 100%; }
//Line height
%line-height--1     { line-height:1; }
%line-height--2     { line-height:2; }
%line-height--3     { line-height:3; }

//margin
%margin-top--0       { margin-top:    0; }
%margin-left--0      { margin-left:   0; }
%margin-right--0     { margin-right:  0; }
%margin-bottom--0    { margin-top:    0; }

%margin-top--auto       { margin-top:    auto; }
%margin-left--auto      { margin-left:   auto; }
%margin-right--auto     { margin-right:  auto; }
%margin-bottom--auto    { margin-top:    auto; }

%margin-top--base    { margin-top:    $font-size--base; }
%margin-bottom--base { margin-bottom: $font-size--base; }
%margin-right--base  { margin-right:  $font-size--base; }
%margin-left--base   { margin-left:   $font-size--base; }

//overflow 
%overflow-x--hidden { overflow-x:hidden; }
%overflow-y--hidden { overflow-y:hidden; }
%overflow--hidden   { overflow:hidden; }

%padding--0        { padding: 0; }
%padding--base     { padding: $font-size--base; }
%padding-bottom--base     { padding-bottom: $font-size--base; }
%padding-right--base  { padding-right: $font-size--base; }
//Position type
%position--relative { position: relative; }
%position--absolute { position: absolute; }
%position--fixed 	  { position: fixed; } 

%text-transform--uppercase { text-transform: uppercase; }
%text-transform--lowercase { text-transform: lowercase; }

//Position location
%top--0	      { top:    0;    } 
%bottom--0    { bottom: 0;    } 
%left--0	    { left:   0;    } 
%right--0	    { right:  0;    } 

%top--base	    { top:    $font-size--base;    } 
%bottom--base   { bottom: $font-size--base;    } 
%left--base	    { left:   $font-size--base;    } 
%right--base	  { right:  $font-size--base;    } 

%left--auto	  { left:   auto; } 
%right--auto  { right:  auto; } 
%bottom--auto { bottom: auto; } 
%top--auto    { top:    auto; } 

%opacity--0 { opacity: 0; }
%opacity--1 { opacity: 1; }

%pointer-events--none { pointer-events: none; }
%pointer-events--auto { pointer-events: auto; }
//Text
%text-align--center         { text-align: center; } 
%text-overflow--ellipsis    { @include text-wrapper;}
%text-transform--capitalize { text-transform: capitalize;}
 
//Width
%width--10percent  { width:10%;  }
%width--20percent  { width:20%;  }
%width--30percent  { width:30%;  }
%width--40percent  { width:40%;  }
%width--50percent  { width:50%;  }
%width--60percent  { width:60%;  }
%width--70percent  { width:70%;  }
%width--80percent  { width:80%;  }
%width--90percent  { width:90%;  }
%width--100percent { width:100%; }

%block--center {
	@extend %display--block;
	@extend %margin-left--auto;
	@extend %margin-right--auto;
}

%z-index--1 { z-index: 1; }
%z-index--2 { z-index: 2; }
%z-index--3 { z-index: 3; }
%z-index--4 { z-index: 4; }
%z-index--5 { z-index: 5; }
%z-index--6 { z-index: 6; }
